{%extends 'base.html'%}
{%block content%}
<article>

                <div class="post-inner at-post">
                    <h1 class="post-title pad at-post">{{ article.title }} </h1>
                    <div class="post-content pad">
                        <div class="entry">
                        
                            {{article.content}}
                        
                        </div>
                    </div>

                </div>
</article>

    <div class="ds-thread" data-thread-key="{{article.id}}" data-title="{{ article.title }} " data-url=""></div>

<script type="text/javascript">
var duoshuoQuery = {short_name:"huangpengcheng"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
{%endblock%}