<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title%}
      {%endblock%}

    </title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
{% block css %}
{%endblock %}
  </head>
  <body>
  <div class="container">
          <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">我的博客</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>

              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  {% if user.is_authenticated %}
                  <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'logout' %}">登出</a></li>
                        </ul>
                  </li>
                  {% else %}
                      <a href="{% url 'login' %}">登录</a>
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </nav>
{% block content %}
{%endblock%}

</div>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>




